* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 200px ; /* left panel + main */
    grid-template-rows: auto auto 1fr auto; /* header, nav, contenido, footer */
    grid-template-areas:
        "header header"
        "nav nav"
        " main right-panel"
        "footer footer";
    
}

header {
    grid-area: header;
    background: #ff9999;
    padding: 20px;
    text-align: center;
}

nav {
    grid-area: nav;
    background: #99ccff;
    padding: 20px;
    text-align: center;
}

aside {
    grid-area: right-panel;
    background: #99ff99;
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    grid-area: main;
    background: #ffff99;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    grid-area: footer;
    background: #9999ff;
    padding: 20px;
    text-align: center;
}
