body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}
.izquierda{
    text-align: left;
}
.centro{
    text-align: center;
}
.derecha{
    text-align: right;
}