body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-size: 7.5rem; /* 120px / 16 = 7.5rem */
  font-weight: 900;
}

p {
  font-size: 3rem; /* 48px / 16 = 3rem */
  font-weight: 700;
}

.nombre {
  color: #ff6b6b; /* rosa fuerte */
}

.clave1 {
  color: #4ecdc4; /* verde agua */
}

.clave2 {
  color: #ffa502; /* naranja pastel */
}

.clave3 {
  color: #1e90ff; /* azul brillante */
}
