body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}
.banana{color: yellow;}
.manzana{color: rgb(216, 9, 9);}
.kiwi{color: rgb(23, 233, 23);}
.uva{color: rgb(117, 14, 117);}
.ciruela{color: rgb(199, 34, 34);}
.mandarina{color: rgb(253, 165, 2);}
.sandia{color: rgb(63, 177, 63);}
.papaya{color: rgb(211, 129, 35);}
.melon{color: rgb(233, 216, 63);}
.lima{color: lime;}