.titulo{
    font-family: Roboto;
    font-size: 50px;
}

.publicado{
    color: grey;
}

.publicado a{
    color: lightblue;
    text-decoration: none;;

}


p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.italica{
    font-style: italic;
}
.negrita{
    font-weight: bold ;
}

.cursiva{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.cursiva_negrita .bold{
    font-weight: bold;
}

.cursiva_negrita .italic{
    font-style: italic;
}
