



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto  auto 1fr auto;
    grid-template-areas: 
        "left-panel header"
        "left-panel navigation_bar"
        "left-panel main"
        "left-panel footer";
}

header {
    grid-area: header;
    background: #ff9999;
    padding: 20px;
    text-align: center;
}

nav {
    grid-area: navigation_bar;
    background: #99ff99;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

aside {
    grid-area: left-panel;
    background: #ffcc99;
    padding: 20px;
    grid-row: span 4; /* 👈 ocupa la altura de main + footer */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    grid-area: main;
    background: #ffff99;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    grid-area: footer;
    background: #9999ff;
    padding: 20px;
    text-align: center;
}