body{ font-family: Arial, sans-serif;}

h1{font-size: 3rem;}
h2{font-size: 2rem;}
h3{font-size: 1rem;}

.fecha{
    color: lightslategray;
    font-size: 15px;
}

.monton{ color: red;}
.montop{color: green;}


