*{
font-family: "Inter", sans-serif;
}
/* -- A + B -- */
h2 + p {
  color: rgb(55, 214, 135);
  font-weight: bold;
  position: relative;
}

h2 + p:hover::before {
  content: "h2+p";           
  position: absolute;
  top: -25px;                
  left: 0;
  background: rgb(55, 214, 135);
  color: white;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
}

/* -- A ~ B -- */
h2 ~ p {
  background-color: rgb(247, 242, 164);
  position: relative;
  padding: 8px;
  margin: 6px 0;
}

h2 ~ p:hover::after {
  content: "h2~p";            
  position: absolute;
  top: -25px;                 
  left: 70px; /* lo separo para que no se superponga */
  background: rgb(241, 239, 204);
  color: black;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
}

/* -- A B (descendientes) --*/
div section {
  border: solid 3px rgb(171, 176, 223);
  padding: 10px;
  position: relative; /* necesario para posicionar el ::after */
}

/* Cuando paso el mouse por encima del section */
div section:hover::after {
  content: "div section";   /* texto que aparece */
  position: absolute;
  top: -25px;               /* arriba del borde */
  left: 10px;
  background: rgb(171,176,223);
  color: white;
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 12px;
}

/* -- A B (descendientes) -- */
div p {
  position: relative; /* necesario para ubicar el ::after */
  padding: 8px;
  margin: 6px 0;
  color :rgb(247, 83, 151)
}

/* Cuando paso el mouse por encima */
div p:hover::after {
  content: "div p";            /* cartelito */
  position: absolute;
  top: -25px;                  /* arriba del párrafo */
  left: 0;
  background: rgb(68, 33, 78); /* mismo color que tu borde */
  color: white;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
}

/* -- A > B (hijo directo) -- */
ul > li {
  color: orange;
  list-style: square;
  font-style: italic;
  position: relative; /* necesario para ubicar el ::after */
  padding: 4px;
  margin: 4px 0;
}

ul > li:hover::after {
  content: "ul>li";           /* texto cartelito */
  position: absolute;
  top: -20px;                 /* arriba del li */
  left: 0;
  background: orange;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
}
