body {
    background-color: #fcf6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculadora {
    background-color: #51a355;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 260px;
}

.pantalla {
    background-color: #fcfcfc;
    color: rgb(52, 99, 52);
    font-size: 2rem;
    text-align: right;
    padding: 15px;
    border-radius: 10px;
    overflow-x: auto;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    background-color: #65b973;
    color: rgb(226, 223, 238);
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    flex: 1 0 22%;
    padding: 15px;
    cursor: pointer;
    transition: background 0.2s;
}

.btn.operador {
    background-color: #99cea6;
}

.btn:hover {
    background-color: #dabb92;
}

.btn.operador:hover {
    background-color: #dabb92;
}
